# Imports:

In [12]:
import pandas as pd

#### Create a df of all books on my 'to be read' list:

In [13]:
data = [
    {'author': 'Diana Gabaldon', 'title': 'Drangonfly in Amber'},
    {'author': 'Caroline Peckham', 'title': 'The Awakening'},
    {'author': 'Jennifer L. Armentrout', 'title': 'From Blood and Ash'},
    {'author': 'Jon Krakauer', 'title': 'Under the Banner of Heaven: A Story of Violent Faith'},
    {'author': 'Georgia Hunter', 'title': 'We Were the Lucky Ones'},
    {'author': 'Hotel del Coronado Heritage Department', 'title': 'Beautiful Stranger: The Ghost Of Kate Morgan And The Hotel Del Coronado'},
    {'author': 'Gene Miller', 'title': '83 Hours Till Dawn'},
    {'author': 'Claudia Oshry', 'title': 'Girl With No Job: The Crazy Beautiful Life of an Instagram Thirst Monster'},
    {'author': 'Andrew E. Kaufman', 'title': 'The Lion, The Lamb, The Hunted'},
    {'author': 'Micheal Connelly', 'title': 'The Lincoln Lawyer'},
    {'author': 'Laura Hillenbrand', 'title': 'Unbroken: A World War II Story of Survival, Resilience and Redemption'},
    {'author': 'Jojo Moyes', 'title': 'Me Before You'},
    {'author': 'Arthur C. Clarke', 'title': "Childhood's End"},
    {'author': 'Justin Cronin', 'title': 'The Passage'},
    {'author': 'Chad Thumann', 'title': 'The Undesirables'},
    {'author': 'Stacy Willingham', 'title': 'A Flicker in the Dark'},
    {'author': 'Miranda Cowley Heller', 'title': 'The Paper Palace'},
    {'author': 'Simone St. James', 'title': 'The Book of Cold Cases'},
    {'author': 'Casey McQuiston', 'title': 'Red, White & Royal Blue'},
    {'author': 'Paul Hawkins', 'title': 'Into the Water'},
    {'author': 'Pierce Brown', 'title': 'Red Rising'},
    {'author': 'Katee Robert', 'title': 'Neon Gods'},
    {'author': 'Scarlett St. Clair', 'title': 'A Touch of Darkness'},
    {'author': 'Stacey Marie Brown', 'title': 'Savage Lands'},
    {'author': 'Rebecca Ross', 'title': 'A River Enchanted'},
    {'author': 'Brandon Sanderson', 'title': 'The Final Empire'},
    {'author': 'Maggie Stiefvater', 'title': 'Shiver'},
    {'author': 'Alex Aster', 'title': 'Lightlark'}
]

In [14]:
authors_and_titles_tbr = pd.DataFrame(data)

In [15]:
authors_and_titles_tbr.head()

                   author                                              title
0          Diana Gabaldon                                Drangonfly in Amber
1        Caroline Peckham                                      The Awakening
2  Jennifer L. Armentrout                                 From Blood and Ash
3            Jon Krakauer  Under the Banner of Heaven: A Story of Violent...
4          Georgia Hunter                             We Were the Lucky Ones

In [16]:
authors_and_titles_tbr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   author  28 non-null     object
 1   title   28 non-null     object
dtypes: object(2)
memory usage: 580.0+ bytes

In [17]:
# authors_and_titles_tbr.to_csv('authors_and_titles_tbr.csv', index=False)

#### Create a df of other book info to include:
- isbn
- publication date
- ratings count (total)
- ratings count (of each star)

In [18]:
data = [
    {'isbn': '440215625', 'original_publication_year': 1992, 'ratings_count': 347569, 'ratings_1': 2241, 'ratings_2': 7552, 'ratings_3': 42197, 'ratings_4': 114917, 'ratings_5': 180662},
    {'isbn': '914425022', 'original_publication_year': 2019, 'ratings_count': 127605, 'ratings_1': 3946, 'ratings_2': 7343, 'ratings_3': 28740, 'ratings_4': 44885, 'ratings_5': 42691},
    {'isbn': '952457769', 'original_publication_year': 2020, 'ratings_count': 492577, 'ratings_1': 10670, 'ratings_2': 19053, 'ratings_3': 60622, 'ratings_4': 150507, 'ratings_5': 251725},
    {'isbn': '330419129', 'original_publication_year': 2004, 'ratings_count': 14047, 'ratings_1': 3348, 'ratings_2': 8245, 'ratings_3': 39207, 'ratings_4': 85126, 'ratings_5': 66662},
    {'isbn': '399563083', 'original_publication_year': 2017, 'ratings_count': 142715, 'ratings_1': 1062, 'ratings_2': 2124, 'ratings_3': 12669, 'ratings_4': 48620, 'ratings_5': 78240},
    {'isbn': '91625173X', 'original_publication_year': 2002, 'ratings_count': 74, 'ratings_1': 2, 'ratings_2': 0, 'ratings_3': 26, 'ratings_4': 33, 'ratings_5': 13},
    {'isbn': '385045980', 'original_publication_year': 1971, 'ratings_count': 90, 'ratings_1': 2, 'ratings_2': 5, 'ratings_3': 30, 'ratings_4': 28, 'ratings_5': 25},
    {'isbn': '982142863', 'original_publication_year': 2021, 'ratings_count': 16712, 'ratings_1': 294, 'ratings_2': 1179, 'ratings_3': 4202, 'ratings_4': 5277, 'ratings_5': 5760},
    {'isbn': '611099749', 'original_publication_year': 2013, 'ratings_count': 7659, 'ratings_1': 202, 'ratings_2': 537, 'ratings_3': 2025, 'ratings_4': 2895, 'ratings_5': 2000},
    {'isbn': '455536482', 'original_publication_year': 2018, 'ratings_count': 230669, 'ratings_1': 1765, 'ratings_2': 4824, 'ratings_3': 34617, 'ratings_4': 93393, 'ratings_5': 96070},
    {'isbn': '400064163', 'original_publication_year': 2010, 'ratings_count': 916216, 'ratings_1': 22580, 'ratings_2': 25190, 'ratings_3': 83479, 'ratings_4': 238974, 'ratings_5': 545993},
    {'isbn': '143124544', 'original_publication_year': 2013, 'ratings_count': 1568826, 'ratings_1': 23214, 'ratings_2': 48203, 'ratings_3': 203876, 'ratings_4': 519734, 'ratings_5': 773799},
    {'isbn': '345444051', 'original_publication_year': 1987, 'ratings_count': 155967, 'ratings_1': 1661, 'ratings_2': 5521, 'ratings_3': 27604, 'ratings_4': 59043, 'ratings_5': 62138},
    {'isbn': '345504968', 'original_publication_year': 2010, 'ratings_count': 209027, 'ratings_1': 5122, 'ratings_2': 11260, 'ratings_3': 34884, 'ratings_4': 76214, 'ratings_5': 81547},
    {'isbn': '503939967', 'original_publication_year': 2016, 'ratings_count': 1087, 'ratings_1': 13, 'ratings_2': 45, 'ratings_3': 231, 'ratings_4': 431, 'ratings_5': 367},
    {'isbn': '250803829', 'original_publication_year': 2022, 'ratings_count': 323492, 'ratings_1': 2326, 'ratings_2': 11288, 'ratings_3': 66339, 'ratings_4': 146996, 'ratings_5': 96543},
    {'isbn': '59332983X', 'original_publication_year': 2021, 'ratings_count': 298331, 'ratings_1': 6761, 'ratings_2': 18641, 'ratings_3': 72192, 'ratings_4': 123025, 'ratings_5': 77712},
    {'isbn': '440000211', 'original_publication_year': 2022, 'ratings_count': 104011, 'ratings_1': 887, 'ratings_2': 5558, 'ratings_3': 29388, 'ratings_4': 46821, 'ratings_5': 21357},
    {'isbn': '250316774', 'original_publication_year': 2019, 'ratings_count': 893344, 'ratings_1': 17887, 'ratings_2': 43968, 'ratings_3': 150061, 'ratings_4': 295922, 'ratings_5': 385506},
    {'isbn': '735211205', 'original_publication_year': 2017, 'ratings_count': 378127, 'ratings_1': 9434, 'ratings_2': 34044, 'ratings_3': 127285, 'ratings_4': 137251, 'ratings_5': 70113},
    {'isbn': '34553980X', 'original_publication_year': 2014, 'ratings_count': 382845, 'ratings_1': 6504, 'ratings_2': 13072, 'ratings_3': 45962, 'ratings_4': 124621, 'ratings_5': 192686},
    {'isbn': '728231736', 'original_publication_year': 2021, 'ratings_count': 205319, 'ratings_1': 6797, 'ratings_2': 18752, 'ratings_3': 54859, 'ratings_4': 70528, 'ratings_5': 54383},
    {'isbn': '728258456', 'original_publication_year': 2020, 'ratings_count': 256187, 'ratings_1': 7478, 'ratings_2': 19891, 'ratings_3': 60292, 'ratings_4': 89217, 'ratings_5': 79309},
    {'isbn': '956600329', 'original_publication_year': 2020, 'ratings_count': 27438, 'ratings_1': 453, 'ratings_2': 1074, 'ratings_3': 4301, 'ratings_4': 10214, 'ratings_5': 11386},
    {'isbn': '063055988', 'original_publication_year': 2022, 'ratings_count': 37728, 'ratings_1': 224, 'ratings_2': 1202, 'ratings_3': 6308, 'ratings_4': 16148, 'ratings_5': 13846},
    {'isbn': '765311788', 'original_publication_year': 2006, 'ratings_count': 638924, 'ratings_1': 4751, 'ratings_2': 9493, 'ratings_3': 47921, 'ratings_4': 191800, 'ratings_5': 384959},
    {'isbn': '545123267', 'original_publication_year': 2009, 'ratings_count': 475684, 'ratings_1': 23084, 'ratings_2': 45475, 'ratings_3': 112676, 'ratings_4': 134952, 'ratings_5': 159497},
    {'isbn': '419760866', 'original_publication_year': 2022, 'ratings_count': 48202, 'ratings_1': 2809, 'ratings_2': 4165, 'ratings_3': 10576, 'ratings_4': 15516, 'ratings_5': 15136}
]

In [19]:
books_by_isbn_tbr = pd.DataFrame(data)

In [20]:
books_by_isbn_tbr.head()

,isbn,original_publication_year,ratings_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5
0,440215625,1992,347569,2241,7552,42197,114917,180662
1,914425022,2019,127605,3946,7343,28740,44885,42691
2,952457769,2020,492577,10670,19053,60622,150507,251725
3,330419129,2004,14047,3348,8245,39207,85126,66662
4,399563083,2017,142715,1062,2124,12669,48620,78240

In [21]:
books_by_isbn_tbr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   isbn                       28 non-null     object
 1   original_publication_year  28 non-null     int64
 2   ratings_count              28 non-null     int64
 3   ratings_1                  28 non-null     int64
 4   ratings_2                  28 non-null     int64
 5   ratings_3                  28 non-null     int64
 6   ratings_4                  28 non-null     int64
 7   ratings_5                  28 non-null     int64
dtypes: int64(7), object(1)
memory usage: 1.9+ KB

In [22]:
test = pd.read_csv('../scrap/books_by_isbn.csv')

In [23]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7851 entries, 0 to 7850
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   isbn                       7851 non-null   object
 1   original_publication_year  7851 non-null   float64
 2   language_code              7851 non-null   object
 3   average_rating             7851 non-null   float64
 4   ratings_count              7851 non-null   int64
 5   ratings_1                  7851 non-null   int64
 6   ratings_2                  7851 non-null   int64
 7   ratings_3                  7851 non-null   int64
 8   ratings_4                  7851 non-null   int64
 9   ratings_5                  7851 non-null   int64
dtypes: float64(2), int64(6), object(2)
memory usage: 613.5+ KB

I need dtypes to match and right now publication year does not match

In [24]:
books_by_isbn_tbr['original_publication_year'] = books_by_isbn_tbr['original_publication_year'].astype(float)

In [25]:
books_by_isbn_tbr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   isbn                       28 non-null     object
 1   original_publication_year  28 non-null     float64
 2   ratings_count              28 non-null     int64
 3   ratings_1                  28 non-null     int64
 4   ratings_2                  28 non-null     int64
 5   ratings_3                  28 non-null     int64
 6   ratings_4                  28 non-null     int64
 7   ratings_5                  28 non-null     int64
dtypes: float64(1), int64(6), object(1)
memory usage: 1.9+ KB

In [26]:
# books_by_isbn_tbr.to_csv('books_by_isbn_tbr.csv', index=False)

#### Create a df with a combo of both df's above:

In [27]:
data = [
    {'author': 'Diana Gabaldon', 'title': 'Drangonfly in Amber', 'isbn': '440215625', 'original_publication_year': 1992, 'ratings_count': 347569, 'ratings_1': 2241, 'ratings_2': 7552, 'ratings_3': 42197, 'ratings_4': 114917, 'ratings_5': 180662},
    {'author': 'Caroline Peckham', 'title': 'The Awakening', 'isbn': '914425022', 'original_publication_year': 2019, 'ratings_count': 127605, 'ratings_1': 3946, 'ratings_2': 7343, 'ratings_3': 28740, 'ratings_4': 44885, 'ratings_5': 42691},
    {'author': 'Jennifer L. Armentrout', 'title': 'From Blood and Ash', 'isbn': '952457769', 'original_publication_year': 2020, 'ratings_count': 492577, 'ratings_1': 10670, 'ratings_2': 19053, 'ratings_3': 60622, 'ratings_4': 150507, 'ratings_5': 251725},
    {'author': 'Jon Krakauer', 'title': 'Under the Banner of Heaven: A Story of Violent Faith', 'isbn': '330419129', 'original_publication_year': 2004, 'ratings_count': 202595, 'ratings_1': 3348, 'ratings_2': 8245, 'ratings_3': 39207, 'ratings_4': 85127, 'ratings_5': 66669},
    {'author': 'Georgia Hunter', 'title': 'We Were the Lucky Ones', 'isbn': '399563083', 'original_publication_year': 2017, 'ratings_count': 142715, 'ratings_1': 1062, 'ratings_2': 2124, 'ratings_3': 12669, 'ratings_4': 48620, 'ratings_5': 78240},
    {'author': 'Hotel del Coronado Heritage Department', 'title': 'Beautiful Stranger: The Ghost Of Kate Morgan And The Hotel Del Coronado', 'isbn': '91625173X', 'original_publication_year': 2002, 'ratings_count': 74, 'ratings_1': 2, 'ratings_2': 0, 'ratings_3': 26, 'ratings_4': 33, 'ratings_5': 13},
    {'author': 'Gene Miller', 'title': '83 Hours Till Dawn', 'isbn': '385045980', 'original_publication_year': 1971, 'ratings_count': 90, 'ratings_1': 2, 'ratings_2': 5, 'ratings_3': 30, 'ratings_4': 28, 'ratings_5': 25},
    {'author': 'Claudia Oshry', 'title': 'Girl With No Job: The Crazy Beautiful Life of an Instagram Thirst Monster', 'isbn': '982142863', 'original_publication_year': 2021, 'ratings_count': 16712, 'ratings_1': 294, 'ratings_2': 1179, 'ratings_3': 4202, 'ratings_4': 5277, 'ratings_5': 5760},
    {'author': 'Andrew E. Kaufman', 'title': 'The Lion, The Lamb, The Hunted', 'isbn': '611099749', 'original_publication_year': 2013, 'ratings_count': 7659, 'ratings_1': 202, 'ratings_2': 537, 'ratings_3': 2025, 'ratings_4': 2895, 'ratings_5': 2000},
    {'author': 'Micheal Connelly', 'title': 'The Lincoln Lawyer', 'isbn': '455536482', 'original_publication_year': 2018, 'ratings_count': 230669, 'ratings_1': 1765, 'ratings_2': 4824, 'ratings_3': 34617, 'ratings_4': 93393, 'ratings_5': 96070},
    {'author': 'Laura Hillenbrand', 'title': 'Unbroken: A World War II Story of Survival, Resilience and Redemption', 'isbn': '400064163', 'original_publication_year': 2010, 'ratings_count': 916216, 'ratings_1': 22580, 'ratings_2': 25190, 'ratings_3': 83479, 'ratings_4': 238974, 'ratings_5': 545993},
    {'author': 'Jojo Moyes', 'title': 'Me Before You', 'isbn': '143124544', 'original_publication_year': 2013, 'ratings_count': 1568826, 'ratings_1': 23214, 'ratings_2': 48203, 'ratings_3': 203876, 'ratings_4': 519734, 'ratings_5': 773799},
    {'author': 'Arthur C. Clarke', 'title': "Childhood's End", 'isbn': '345444051', 'original_publication_year': 1987, 'ratings_count': 155967, 'ratings_1': 1661, 'ratings_2': 5521, 'ratings_3': 27604, 'ratings_4': 59043, 'ratings_5': 62138},
    {'author': 'Justin Cronin', 'title': 'The Passage', 'isbn': '345504968', 'original_publication_year': 2010, 'ratings_count': 209027, 'ratings_1': 5122, 'ratings_2': 11260, 'ratings_3': 34884, 'ratings_4': 76214, 'ratings_5': 81547},
    {'author': 'Chad Thumann', 'title': 'The Undesirables', 'isbn': '503939967', 'original_publication_year': 2016, 'ratings_count': 1087, 'ratings_1': 13, 'ratings_2': 45, 'ratings_3': 231, 'ratings_4': 431, 'ratings_5': 367},
    {'author': 'Stacy Willingham', 'title': 'A Flicker in the Dark', 'isbn': '250803829', 'original_publication_year': 2022, 'ratings_count': 323492, 'ratings_1': 2326, 'ratings_2': 11288, 'ratings_3': 66339, 'ratings_4': 146996, 'ratings_5': 96543},
    {'author': 'Miranda Cowley Heller', 'title': 'The Paper Palace', 'isbn': '59332983X', 'original_publication_year': 2021, 'ratings_count': 298331, 'ratings_1': 6761, 'ratings_2': 18641, 'ratings_3': 72192, 'ratings_4': 123025, 'ratings_5': 77712},
    {'author': 'Simone St. James', 'title': 'The Book of Cold Cases', 'isbn': '440000211', 'original_publication_year': 2022, 'ratings_count': 104011, 'ratings_1': 887, 'ratings_2': 5558, 'ratings_3': 29388, 'ratings_4': 46821, 'ratings_5': 21357},
    {'author': 'Casey McQuiston', 'title': 'Red, White & Royal Blue', 'isbn': '250316774', 'original_publication_year': 2019, 'ratings_count': 893344, 'ratings_1': 17887, 'ratings_2': 43968, 'ratings_3': 150061, 'ratings_4': 295922, 'ratings_5': 385506},
    {'author': 'Paul Hawkins', 'title': 'Into the Water', 'isbn': '735211205', 'original_publication_year': 2017, 'ratings_count': 378127, 'ratings_1': 9434, 'ratings_2': 34044, 'ratings_3': 127285, 'ratings_4': 137251, 'ratings_5': 70113},
    {'author': 'Pierce Brown', 'title': 'Red Rising', 'isbn': '34553980X', 'original_publication_year': 2014, 'ratings_count': 382845, 'ratings_1': 6504, 'ratings_2': 13072, 'ratings_3': 45962, 'ratings_4': 124621, 'ratings_5': 192686},
    {'author': 'Katee Robert', 'title': 'Neon Gods', 'isbn': '728231736', 'original_publication_year': 2021, 'ratings_count': 205319, 'ratings_1': 6797, 'ratings_2': 18752, 'ratings_3': 54859, 'ratings_4': 70528, 'ratings_5': 54383},
    {'author': 'Scarlett St. Clair', 'title': 'A Touch of Darkness', 'isbn': '728258456', 'original_publication_year': 2020, 'ratings_count': 256187, 'ratings_1': 7478, 'ratings_2': 19891, 'ratings_3': 60292, 'ratings_4': 89217, 'ratings_5': 79309},
    {'author': 'Stacey Marie Brown', 'title': 'Savage Lands', 'isbn': '956600329', 'original_publication_year': 2020, 'ratings_count': 27438, 'ratings_1': 453, 'ratings_2': 1074, 'ratings_3': 4301, 'ratings_4': 10214, 'ratings_5': 11386},
    {'author': 'Rebecca Ross', 'title': 'A River Enchanted', 'isbn': '063055988', 'original_publication_year': 2022, 'ratings_count': 37728, 'ratings_1': 224, 'ratings_2': 1202, 'ratings_3': 6308, 'ratings_4': 16148, 'ratings_5': 13846},
    {'author': 'Brandon Sanderson', 'title': 'The Final Empire', 'isbn': '765311788', 'original_publication_year': 2006, 'ratings_count': 638924, 'ratings_1': 4751, 'ratings_2': 9493, 'ratings_3': 47921, 'ratings_4': 191800, 'ratings_5': 384959},
    {'author': 'Maggie Stiefvater', 'title': 'Shiver', 'isbn': '545123267', 'original_publication_year': 2009, 'ratings_count': 475684, 'ratings_1': 23084, 'ratings_2': 45475, 'ratings_3': 112676, 'ratings_4': 134952, 'ratings_5': 159497},
    {'author': 'Alex Aster', 'title': 'Lightlark', 'isbn': '419760866', 'original_publication_year': 2022, 'ratings_count': 48202, 'ratings_1': 2809, 'ratings_2': 4165, 'ratings_3': 10576, 'ratings_4': 15516, 'ratings_5': 15136}
]

In [28]:
tbr_list = pd.DataFrame(data)

In [29]:
tbr_list.head()

,author,title,isbn,original_publication_year,ratings_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5
0,Diana Gabaldon,Drangonfly in Amber,440215625,1992,347569,2241,7552,42197,114917,180662
1,Caroline Peckham,The Awakening,914425022,2019,127605,3946,7343,28740,44885,42691
2,Jennifer L. Armentrout,From Blood and Ash,952457769,2020,492577,10670,19053,60622,150507,251725
3,Jon Krakauer,Under the Banner of Heaven: A Story of Violent...,330419129,2004,202595,3348,8245,39207,85127,66669
4,Georgia Hunter,We Were the Lucky Ones,399563083,2017,142715,1062,2124,12669,48620,78240

In [30]:
tbr_list['average_rating'] = (tbr_list['ratings_1']*1 + tbr_list['ratings_2']*2 + tbr_list['ratings_3']*3 + tbr_list['ratings_4']*4 + tbr_list['ratings_5']*5) / (tbr_list['ratings_count'])

In [31]:
tbr_list.head()

,author,title,isbn,original_publication_year,ratings_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,average_rating
0,Diana Gabaldon,Drangonfly in Amber,440215625,1992,347569,2241,7552,42197,114917,180662,4.335582
1,Caroline Peckham,The Awakening,914425022,2019,127605,3946,7343,28740,44885,42691,3.901469
2,Jennifer L. Armentrout,From Blood and Ash,952457769,2020,492577,10670,19053,60622,150507,251725,4.245620
3,Jon Krakauer,Under the Banner of Heaven: A Story of Violent...,330419129,2004,202595,3348,8245,39207,85127,66669,4.004600
4,Georgia Hunter,We Were the Lucky Ones,399563083,2017,142715,1062,2124,12669,48620,78240,4.407364

In [32]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7851 entries, 0 to 7850
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   isbn                       7851 non-null   object
 1   original_publication_year  7851 non-null   float64
 2   language_code              7851 non-null   object
 3   average_rating             7851 non-null   float64
 4   ratings_count              7851 non-null   int64
 5   ratings_1                  7851 non-null   int64
 6   ratings_2                  7851 non-null   int64
 7   ratings_3                  7851 non-null   int64
 8   ratings_4                  7851 non-null   int64
 9   ratings_5                  7851 non-null   int64
dtypes: float64(2), int64(6), object(2)
memory usage: 613.5+ KB

In [33]:
tbr_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   author                     28 non-null     object
 1   title                      28 non-null     object
 2   isbn                       28 non-null     object
 3   original_publication_year  28 non-null     int64
 4   ratings_count              28 non-null     int64
 5   ratings_1                  28 non-null     int64
 6   ratings_2                  28 non-null     int64
 7   ratings_3                  28 non-null     int64
 8   ratings_4                  28 non-null     int64
 9   ratings_5                  28 non-null     int64
 10  average_rating             28 non-null     float64
dtypes: float64(1), int64(7), object(3)
memory usage: 2.5+ KB

In [34]:
tbr_list['original_publication_year'] = tbr_list['original_publication_year'].astype(float)

In [35]:
tbr_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   author                     28 non-null     object
 1   title                      28 non-null     object
 2   isbn                       28 non-null     object
 3   original_publication_year  28 non-null     float64
 4   ratings_count              28 non-null     int64
 5   ratings_1                  28 non-null     int64
 6   ratings_2                  28 non-null     int64
 7   ratings_3                  28 non-null     int64
 8   ratings_4                  28 non-null     int64
 9   ratings_5                  28 non-null     int64
 10  average_rating             28 non-null     float64
dtypes: float64(2), int64(6), object(3)
memory usage: 2.5+ KB

In [36]:
def map_avg(avg):
    if avg >= 4:
        return 1 #Yes
    else:
        return 0 #No
    
tbr_list['should_i_read'] = tbr_list['average_rating'].apply(map_avg)

In [37]:
tbr_list.head()

,author,title,isbn,original_publication_year,ratings_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,average_rating,should_i_read
0,Diana Gabaldon,Drangonfly in Amber,440215625,1992.0,347569,2241,7552,42197,114917,180662,4.335582,1
1,Caroline Peckham,The Awakening,914425022,2019.0,127605,3946,7343,28740,44885,42691,3.901469,0
2,Jennifer L. Armentrout,From Blood and Ash,952457769,2020.0,492577,10670,19053,60622,150507,251725,4.245620,1
3,Jon Krakauer,Under the Banner of Heaven: A Story of Violent...,330419129,2004.0,202595,3348,8245,39207,85127,66669,4.004600,1
4,Georgia Hunter,We Were the Lucky Ones,399563083,2017.0,142715,1062,2124,12669,48620,78240,4.407364,1

In [38]:
# tbr_list.to_csv('tbr_list.csv', index=False)